body {
    font-family: 'Arsenal', sans-serif;
    background-color: #fbe8ef;
}

.navheader {
    padding: 5px;
}

.edit {
    position: absolute !important;
}

#modal1 {
    width: 75% !important;
    max-height: 80vh !important;
}


/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */

#modal2 {
    width: 95% !important;
    max-height: 100%;
}

.closeModal{
  margin: 10px !important;
  float: right;
}

.pointer{
  cursor: pointer;
}

.hide{
  display: none
}
